body{
    background-color:rgba(224, 224, 224, 0.747);
}

h1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: medium;
    margin-left: 10%;
    margin-right: 10%;
}

ol{
    margin-left: 10%;
    margin-right: 10%;
    font-size: medium;
}

h3{
    font-size: large;
    margin-left: 10%;
}

.banner{
    background-color:rgb(12, 12, 182);
    background-size: cover;
    height: auto;
    margin-top: 0;
    padding-top: 0.5%;
    }

.center{
    text-align: center;
    margin:auto;
    width:50%;
}

.menu{
    margin-left: 10%;
    list-style-type: none;
}

.menu-item{
    display: inline-block;
    margin-left: 11%
}

a{
    color:white;
    text-decoration: none;
}

.idle{
    color:white;
}

#portrait{
    display: block;
    height: 15%;
    width: 11.72%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:auto;
    margin-right:auto;
}

#logo{
    background-color: white;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 1%;
    padding-top: 1%
}

.bibliography{
    font-size: medium;
}